@font-face {
	font-family: Lato;
	src: url("./assets/fonts/lato-regular-webfont.woff2"), url("./assets/fonts/lato-regular-webfont.woff");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Lato, Arial, Helvetica, sans-serif;
	color: #333;
}

/*
// header
*/
header {
	width: 100%;
	background-color: #e0e0e0;
	display: flex;
	justify-content: center;
	height: 80px;
	align-items: center;
	position: relative;
}

.outer-wrapper {
	max-width: 1100px;
	width: 100%;
	padding: 0 20px;
}

.header-container {
	display: flex;
	justify-content: space-between;
}

.title-container {
	display: flex;
	align-items: center;
}

.title-container #logo {
	width: 40px;
}

.title-container h2 {
	font-size: 20px;
	font-weight: bold;
	margin: 0 15px;
}

.title-container #menu-icon {
	display: none;
}

nav {
	background-color: white;
	display: flex;
	height: 40px;
	transition: all .25s;
}

nav #nav-close {
	background-image: url("./assets/images/nav-close.svg");
	background-position: center;
	background-repeat: no-repeat;
	width: 48px;
	height: 48px;
	display: none;
}

nav ul {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 5px;
}

nav li {
	list-style-type: none;
	padding: 0 15px;
	border-right: 1px solid #979797;
}

nav li:last-child {
	border-right: none;
}

nav li a {
	text-decoration: none;
	font-size: 16px;
}

/*
// main content
*/
#main-content {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 20px;
}

#main-content-wrapper {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

/*
// form section
*/
.form-section {
	max-width: 400px;
	min-width: 300px;
	border: 1px solid #979797;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
}

.form-section h3 {
	font-size: 18px;
	margin-top: 10px;
}

.form-section form {
	width: 100%;
	margin-top: 20px;
	font-size: 14px;
}

.form-section__form-item {
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
}

.form-section__form-item label {
	margin-bottom: 5px;
}

.form-section__form-item select,
.form-section__form-item input {
	padding: 7px 7px;
	border-radius: 4px;
	border: 1px solid #979797;
}

.form-section button {
	background-color: #333;
	color: white;
	width: 100%;
	padding: 7px 0;
	border-radius: 4px;
	cursor: pointer;
}

/*
// transaction statement section
*/
.transaction-statement {
	padding-top: 10px;
	padding-left: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
}

.transaction-statement h3 {
	margin-top: 10px;
	font-size: 18px;
}

/*
// transaction statement section table
*/
.transaction-statement table {
	width: 100%;
	font-size: 14px;
	margin-top: 20px;
	border-collapse: collapse;
}

.transaction-statement table tr {
	border-bottom: 1px solid #979797;
}

.transaction-statement table td {
	vertical-align: top;
	padding: 8px 0;
}

.transaction-statement table td:last-child {
	text-align: right;
	padding-right: 20px;
}

/* thead */
.transaction-statement thead {
	font-weight: bold;
}

.transaction-statement thead td:first-child {
	padding-left: 40px;
}

/* tbody */
.transaction-statement tbody td:first-child {
	width: 40px;
}

.transaction-statement tbody td.plus::after {
	content: "+";
}

.transaction-statement tbody td.minus::after {
	content: "-";
}

.transaction-statement tbody td.plus::after,
.transaction-statement tbody td.minus::after {
	padding-left: 20px;
	padding-right: 10px;
	display: inline;
}

.transaction-statement tbody td p {
	max-width: 200px;
}

/* tfoot */
.transaction-statement tfoot {
	font-weight: bold;
}

.transaction-statement tfoot tr {
	border-bottom: none;
}

.transaction-statement tfoot td {
	padding-top: 2px;
}

.transaction-statement tfoot td:last-child {
	padding-right: 0;
}

.transaction-statement tfoot td p {
	border-top: 1px solid #979797;
	padding-top: 15px;
}

.transaction-statement tfoot td:first-child p {
	padding-left: 40px;
}

.transaction-statement tfoot td:last-child p {
	padding-right: 20px;
}

.transaction-statement tfoot td:last-child p span {
	display: block;
	font-weight: normal;
	font-size: 10px;
	text-transform: uppercase;
}

/*
// media queries
*/
@media screen and ((max-width: 768px) or (orientation: portrait)) {

	/* header */
	.title-container {
		width: 100%;
		justify-content: space-between;
	}

	.title-container #menu-icon {
		display: inline-block;
	}

	nav {
		position: absolute;
		right: 0;
		top: 0;
		height: 100vh;
		background-color: #333;
		min-width: 252px;
		flex-direction: column;
		transform: scaleX(1);
		transform-origin: right;
	}

	nav.hidden {
		transform: scaleX(0);
	}

	nav #nav-close {
		display: block;
		cursor: pointer;
	}

	nav ul {
		flex-direction: column;
		width: 100%;
		padding: 0;
		justify-content: flex-start;
	}

	nav li {
		border: none;
		width: 100%;
		text-align: right;
		padding: 0;
		margin-top: 10px;
	}

	nav li.selected {
		background-color: #c4c4c4;
	}

	nav li a {
		color: white;
		padding: 8px 15px 8px 0;
		display: block;
	}

	nav li.selected a {
		color: #333;
	}

	/* main content */
	#main-content-wrapper {
		flex-direction: column;
	}

	/* form section */
	.form-section {
		width: 100%;
		max-width: none;
	}

	.form-section form {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.form-section__form-item select {
		width: 150px;
	}

	.form-section__form-item:nth-child(2) {
		flex: 1;
		margin-left: 10px;
		margin-right: 10px;
	}

	.form-section button {
		align-self: flex-end;
		width: 200px;
	}

	/* transaction statement section */
	.transaction-statement {
		width: 100%;
		padding-left: 0;
		margin-top: 45px;
	}
}

@media screen and (max-width: 590px) {

	/* form section */
	.form-section {
		border: none;
		border-bottom: 1px solid #979797;
		padding-bottom: 30px;
	}

	.form-section h3 {
		display: none;
	}

	.form-section form {
		flex-direction: column;
		margin-top: 0;
	}

	.form-section__form-item select,
	.form-section__form-item input {
		width: 100%;
	}

	.form-section__form-item:nth-child(2) {
		margin-left: 0;
		margin-right: 0;
	}

	.form-section button {
		width: 100%;
		align-self: initial;
	}
}